@page "/"

<h1>Four Is The Magic Number!</h1>

<label for="minNumberInput">Min</label>
<input type="number" id="minNumberInput" @bind="Min" />
<br />
<label for="maxNumberInput">Max</label>
<input type="number" id="maxNumberInput" @bind="Max" />

<Game Min="@Min" Max="@Max" />

@code{
    private int Min;
    private int Max;
}
